.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.img1 {
    float: center;
    width: 100%;
    height:"auto";
}
.img2 {
        float: center;
        width: 100%;
        height:"auto";
}
.img3 {
        float: center;
        width: 60%;
        height:"auto";
}

@media (max-width:600px){
  .img3 {
          float: center;
          width: 100%;
          height:"auto";
  }
}

@media (max-width:320px) {
  .img3 {
          float: center;
          width: 100%;
          height:"auto";
  }
}
.q{
  text-align: center;
  margin: 20 auto 2;
  background-color: #ffffff;
  border: 5px solid #ffffff;

}
.text_{
  text-align: center;
  font-size:1vw;
}
