.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.img1 {
    float: right;
}
.img2 {
        float: left;
}
.q{
  margin: 20 auto 2;
  background-color: #D3D3D3;
  border: 5px solid #000000;

}
.text_{
  font-size:1vw;
}
